.container {
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0px 16px;
    padding: 8px;
    border-radius: 5px;
}

.active {
  background-color: rgb(32, 160, 240);
  color: white;
}
